.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
    padding: 50px;
    z-index: 9999;
    padding: 10px;
}

.modal {
    background: #fff;
    border-radius: 5;
    max-width: 500;
    min-height: 300;
    margin: 0 auto;
    padding: 30px;
    margin-top: 15%;
    border-radius: 5px;

}

.footer{
    padding: 10px;
}