.message {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    justify-self: start;
    min-width: 300px;
    max-width: 70%;
}

.message::after {
    content: "";
    clear: both;
    display: table;
}

.right {
    justify-self: end;
    background: #05728f;
    color: white;
}

.message .avatar {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.icon {
    width: 10px;
    margin-right: 5px;
}

.hover {
    cursor: pointer;
}

img {
    width: 50px;
}

.message-text {
    word-wrap: break-word;
}